body {
    background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(179, 183, 222, 1) 66%, rgba(151, 187, 232, 1) 97%, rgba(149, 187, 233, 1) 98%, rgba(148, 187, 233, 1) 100%);
    height: 100vh;
}
.button{
    border: none;
    padding: 0.625em;
    border-radius: 0.5em;
    
}
.button:hover{
    filter: brightness(0.9);
}
.button:active{
    transform: translateY(2px);
}
.person-selector{
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 3em auto 1em;
    max-width: 40em;
}
.person-selector-button{
    width: 100%;
    background: #303135;
    color: white;
    font-size: 1.1em;
}
.active-person{
    background: #1B2BD8;
    box-shadow: 1px 1px 1px 1px black;
    
}
.chat-container{
    background: #323337;
    font-family: 'Roboto', sans-serif;
    border-radius: 0.5em;
    padding: 0.5em 1.25em;
    margin: auto;
    max-width: 37.5em;
    height: 37.5em;
    box-shadow: 2px 3px 5px black;
}
.chat-header{
    margin-bottom: 1em;
    color: white;
    
}
.chat-header h2{
    font-style: 1.25em;
    font-weight: bold;
}
.chat-messages{
    height: 23em;
    overflow-y: scroll;
    
}
.message{
    padding: 0.625em;
    border-radius: 1em;
    margin-bottom: 0.625em;
    display: flex;
    color: white;
    flex-direction: column;
}
.message-sender{
    font-weight: bold;
    margin-bottom: 1.31em;
}
.message-text{
    font-size: 1em;
    margin-bottom: 0.31em;
    word-wrap: break-word;
}
.message-timestamp{
    font-size: 0.75em;
    text-align: right;
}
.blue-bg{
    background: dodgerblue;
}
.gray-bg{
    background: slategray;
}
.chat-input-form{
    display: flex;
    align-items: center;
    margin-top: 2em;
    gap: 0.625em;
}
.chat-input{
    padding: 0.625em;
    border: none;
    border-radius: 0.5em;
    background: #f5f5f5;
    color: #333;
    font-size: 0.9em;
    flex-grow: 1;
}

.send-button{
    background: dodgerblue;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    
}
.clear-chat-button{
    display: block;
    margin: 2.5em auto;
}
h3{
    color: white;
    margin-left: 6em;
    font-size: 30px;
    font-weight: 300;
    margin-top: 0.1em;
    
}

